{% extends "::base.html.twig" %}

{% block title %}Fragola & Limone - Contatti{% endblock %}

{% block body %}

  <div class="box">

    <div class="brand">
       <a href="/"><img src="img/logo_completo.png" alt="logo"></a>
    </div>

      <h1 class="titolo_contatti">Contatti</h1>

      <div class="contatti">
        <ul>
          <li>Via PanfiloCastaldi, 18, 20124 Milano</li>
          <li>Tel.: 0245667892</li>
          <li>fragola&limone@gmail.com</li>
      </ul>
      </div>
		
</div>

  {% endblock %}