{% extends "::base.html.twig" %}
{% block title %}GelatoBundle:Header:Contatti{% endblock %}

{% block body %}


  <div class="box">
    <div class="cornice1"></div>
      <h1>Errore 404</h1>
        <p>Il tuo gelato si è sciolto, <br> ti aiutiamo a trovarne un altro!</p>
          <div class="cornice2"></div>
            <div class="homepage"><a href="home.html">Home Page</a></div>
              </div>

{% endblock %}