{% extends "::base.html.twig" %}

{% block title %}Fragola & Limone - Home{% endblock %}

{% block body %}

  <div class="box">

    <div class="brand">
       <a href="/"><img src="{{asset('img/logo_completo.png')}}" alt="logo"></a>
    </div>

      <h2 class="home_payoff">"Il tuo Gelato in un click"</h2>

        <form class="home_form" method="GET" action="/" name="inserimento-gusti">

          <div class="button">
          <label for="Gusto1" class="titolo1">Gusto 1</label><br>
            <select class="home_gusti" name="gusto1">
              <option value="1">Mela</option>
              <option value="1">Arancia</option>
              <option value="1">Fragola</option>
              <option value="1">Cocco</option>
              <option value="1">Limone</option>
            </select>
          </div>

          <div class="button">
          <label for="Gusto2">Gusto 2</label><br>
            <select class="home_gusti" name="gusto2">
              <option value="1">Mela</option>
              <option value="1">Arancia</option>
              <option value="1">Fragola</option>
              <option value="1">Cocco</option>
              <option value="1">Limone</option>
            </select>
          </div>

          <div class="button">
          <label for="Gusto3">Gusto 3</label><br>
            <select class="home_gusti" name="gusto3">
              <option value="1">Mela</option>
              <option value="1">Arancia</option>
              <option value="1">Fragola</option>
              <option value="1">Cocco</option>
              <option value="1">Limone</option>
            </select>
          </div>
            <div class="cerca"> <!-- div o no? -->
            <button class="home_cerca">Cerca</button>
            </div>
        </form>
</div>


{% endblock %}
