{% extends "::base.html.twig" %}

{% block title %}Fragola&Limone - Rregistrazione{% endblock %}

{% block body %}

    <div class="box">

        <div class="brand">
            <a href="/"><img src="img/logo_completo.png" alt="logo"></a>
        </div>

        <div class="registrazione">

            <h2 class="registrazione_payoff">Benvenuto, compila per registrarti!</h2>

        <form method="GET" action="index.php?page=home.php" name="registrazione"/>

            <div class="compilazione">
                <input class="registrazione_input" type="text" name="nome" class="input" placeholder="Nome">
            </div>

            <div class="compilazione">
                <input class="registrazione_input" type="text" name="cognome" placeholder="Cognome"/>
            </div>

            <div class="compilazione">
                <input class="registrazione_input" type="text" name="città" placeholder="Città"/>
            </div>
   
            <div class="compilazione">
                <input class="registrazione_input" type="text" name="email" placeholder="E-mail"/>
            </div>

            <div class="compilazione">
                <input class="registrazione_input" type="text" name="password" placeholder="Password"/></br>
            </div>

            <div class="conferma">
                <button class="registrazione_Button">Conferma</button>
            </div>
        </form>

        </div>

    </div> <!-- div box -->
{% endblock %}