{% extends "::base_pinup.html.twig" %}
{% block stylesheet %}
    <style>
        .sfondogelato {
            background: url('../img/pinup.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: 'Shadows Into Light', cursive;
            color: #fff;
        }

    </style>

{% endblock %}

{% block body %}

    <form action="mailto:paul.sergentu@gmail.com" method="GET" name="inserimentogelati">

    <div class="Buttons">

    <h2>Stai cercando un gelato...</h2>

              <div class="button">
        <label for="gusto1">Ai gusti</label>
        <br>
        <select class="gusti" name="gusto1">
          <option value="1"> Mela</option>
          <option value="2"> Melograno</option>
        </select>


        <select class="gusti" name="gusto2">
          <option value="1"> Mela</option>
          <option value="2"> Melograno</option>
        </select>


        <select class="gusti" name="gusto3">
          <option value="1"> Mela</option>
          <option value="2"> Melograno</option>
        </select>
          </div>



      <div class="button">
        <label for="citta">nella provincia di:</label>
        <br>
        <select class="gusti" name="gusto3">
          <option value="1"> Mela</option>
          <option value="2"> Melograno</option>
        </select>
      </div>

      <div class="button">
        <label for="periodo">il giorno:</label>
        <br>
        <select class="gusti" name="gusto3">
          <option value="1"> Mela</option>
          <option value="2"> Melograno</option>
        </select>
      </div>


      <div class= "boss">
        <input class="pulsante" type="button" value="Cerca">
      </div>

    </div>

    <div class="Barrainfo">
        <div class="nome">Gusti</div>
        <div class="informazioni">Statistiche</div>

    </div>

    </form>

        <div class="Risultati overflow">

    <hr>
            <div class="Risultato">

                <div class="nome"><h2>Fragola</h2></div>
                <div class="informazioni percentuale"><meter min="0" low="30" high="100" max="100" value="20"></div>
                <div class="statistica"> 1908 Ricerche </div>


            </div>
    <hr>
            <div class="Risultato">

                <div class="nome"><h2>Limone</h2></div>
                <div class="informazioni"><meter min="100" max="500" value="300"></div>
                <div class="statistica"> 1300 Ricerche </div>
            </div>


    <hr>
            <div class="Risultato">

                <div class="nome"><h2>Cioccolato</h2></div>
                <div class="informazioni"><meter min="100" max="500" value="200"></div>
                <div class="statistica"> 900 Ricerche </div>
            </div>

        </div>
{% endblock %}
