{% extends "::base_pinup.html.twig" %}

{% block title %}Fragola & Limone - Admin{% endblock %}

{% block stylesheet %}

<style>
    body {
    background: url('img/pinup.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

</style>

{% endblock %}

{% block body %}

<div class="Box_utente">

<form action="mailto:paul.sergentu@gmail.com" method="GET" name="inserimentogelati">

<div class="titolo"> <h1>Stai cercando un gelato...</h1></div>

<div class="buttons_contenitor">

  <div class="ad_pers_dati">

    <label for="gusto1">Ai gusti</label>
    <br>
    <select class="gusti" name="gusto1">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>


    <select class="gusti" name="gusto2">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>


    <select class="gusti" name="gusto3">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>
  </div>

  <div class="ad_pers_dati">

    <label for="citta">Nella città di:</label>
    <br>
    <select class="gusti" name="gusto3">
      <option value="1"> Milano</option>
      <option value="2"> Roma</option>
    </select>
  </div>

  <div class="ad_pers_dati">

    <label for="periodo">Il giorno:</label>
    <br>
    <select class="gusti" name="gusto3">
      <option value="1"> 10/05/2016</option>
    </select>
  </div>

</div>


  <div class="boss">
    <input class="pulsante" type="Button" value="Cerca">
  </div>

</form>

</div>

<div class="preferiti">
  <h2>Risultati</h2>
</div>

            <div class="Barrainfo">
                <div class="nome">Gelateria</div>
                <div class="informazioni">Informazioni</div>
                <div class="icone">Social</div>
            </div>

    <div class="Risultati overflow">


        <div class="Risultato">

            <div class="nome"><h2>Gelato Mania</h2></div>
            <div class="informazioni">Via Dante 27<br>Tel. 02 34567890<br>Chiuso: Lunedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="Risultato">

            <div class="nome"><h2>Gelato One</h2></div>
            <div class="informazioni">Via Lagorai 15<br>Tel. 02 3324356758 <br> Chiuso: Lunedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="Risultato">

            <div class="nome"><h2>Antica Gelateria</h2></div>
            <div class="informazioni">Via Lodi 9<br>Tel. 02 56776879 <br> Chiuso: Martedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="Risultato">

            <div class="nome"><h2>Tag Scream</h2></div>
            <div class="informazioni">Via calabiana 6<br>Tel. 02 56776879 <br> Chiuso: n/a</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>


    </div>

{% endblock %}
