{% extends "::base.html.twig" %}
{% block title %}GelatoBundle:Header:Contatti{% endblock %}

{% block stylesheet %}
<style>
        .sfondogelato {
        background: url('../img/pinup.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Shadows Into Light', cursive;
        color: #fff;
    }
    }

</style>
{% endblock %}

{% block body %}


<form action="mailto:paul.sergentu@gmail.com" method="GET" name="inserimentogelati">

<div class="Buttons largo100">

<h2>Stai cercando un gelato...</h2>

    <div class="Button">
    <label for="gusto1">Ai gusti</label>
    <br>
    <select class="gusti" name="gusto1">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>


    <select class="gusti" name="gusto2">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>


    <select class="gusti" name="gusto3">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>
      </div>



  <div class="Button">
    <label for="citta">nella città di:</label>
    <br>
    <select class="gusti" name="gusto3">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>
  </div>

  <div class="Button">
    <label for="periodo">il giorno:</label>
    <br>
    <select class="gusti" name="gusto3">
      <option value="1"> Mela</option>
      <option value="2"> Melograno</option>
    </select>
  </div>


  <div class="largo100 boss">
    <input class="pulsante" type="Button" value="Cerca">
  </div>

</div>

            <div class="barrainfo testobianco">
                <div class="nome">Gelateria</div>
                <div class="informazioni">Informazioni</div>
                <div class="icone">Social</div>
            </div>

</form>

    <div class="risultati overflow">


        <div class="risultato">

            <div class="nome"><h2>Gelato Mania</h2></div>
            <div class="informazioni">Via Dante 27<br>Tel. 02 34567890<br>Chiuso: Lunedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="risultato">

            <div class="nome"><h2>Gelato One</h2></div>
            <div class="informazioni">Via Lagorai 15<br>Tel. 02 3324356758 <br> Chiuso: Lunedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="risultato">

            <div class="nome"><h2>Antica Gelateria</h2></div>
            <div class="informazioni">Via Lodi 9<br>Tel. 02 56776879 <br> Chiuso: Martedì</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>
<hr>
        <div class="risultato">

            <div class="nome"><h2>Tag Scream</h2></div>
            <div class="informazioni">Via calabiana 6<br>Tel. 02 56776879 <br> Chiuso: n/a</div>
            <div class="icone"><img src="ico/phone.png" alt="phone" /> <img src="ico/cuore.png" alt="star" /> <img src="ico/friends.png" alt="friends" /><br><img src="ico/stelline.png" alt="stelline" /></div>

        </div>


    </div>

{% endblock %}