<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link type="text/css" href="css/reset.css" rel="stylesheet">
            <link type="text/css" href="css/style.css" rel="stylesheet">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    
    </head>
    <body class="sfondogelato">
    
        {% block nav %}
            <nav class="navbar">
                <ul class="navigation">
                    <li class="left"><a href="">Login</a></li>
                    <li class="logo"><a href="{{ url('gelato_homepage') }}"><img src="img/pittogramma.png" alt="logo"></a></li>
                    <li class="right"><a href="{{ url('gelato_contatti') }}">Contatti</a></li>
                </ul>
            </nav>
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
        
    </body>
</html>
