{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}



<h1>CIAO</h1>


{% endblock fos_user_content %} 

{% endblock body %}