/* ----------------------- HEADER ------------------------- */

html,
body {
	height: 100%;
	width: 100%;
  font-family: 'Shadows Into Light', cursive;
  color: #fff;
}

@font-face {
  font-family: pacifico;
  src: url('../Font/pacifico.ttf');
}

.sfondo1 {
  background: url('../img/ice-cream.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: normal;

}

a {
  text-decoration: none;
  color: #fff;
}

div {
  border-radius: 10px;
}

.navbar {
  height: 60px;
  margin-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
  display: block;
  text-align: center;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 60%;
  margin-top: 5px;
}

.logo img {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.left {
  width: 150px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.left a {
  text-decoration: lowercase;
  font-size: 2em;
  font-family: pacifico;
}

.left a:hover {
  font-size: 2.2em;
}

.right {
  width: 150px;
  display: inline-block;
  position: relative;
  top: -12px;
}

.right a {
    text-decoration: lowercase;
    font-size: 2em;
    font-family: pacifico;
}

.right a:hover {
    font-size: 2.2em;
}

.nav a {
  text-decoration: none;
  display: inline;
}

/* ----------------------- HOME ------------------------- */

.box {
  bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50vw;
  height: 660px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 35px;
}

.home_payoff {
  text-align: center;
  font-size: 2.5em;
  height: auto;
  padding-top: 35px;
}

.brand {
  margin: auto;
  border: 5px solid white;
  border-radius: 10px;
  width: 40%;
  height: auto;
  text-align: center;
}

.brand img {
  width: 100%;
  height: auto;
}

.Button {
  margin: auto;
  width: 40vw;
  height: auto;
}

.Button label {
  font-size: 1.5em;
}

.home_form {
  margin: 20px auto;
  text-align: center;
  width: 40vw;
  height: auto;
  line-height: 30px;
}

.home_gusti {
  width: 100px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.home_cerca {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  display: block;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.5em;
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: none;
}



.login {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  display: inline-block;
  width: 70px;
  height: 50px;
  border-radius: 10px;
  font-size: 1.5em;
  padding-top: 10px;
  position: relative;
  top: 10px;
}

/* ----------------------- CONTATTI ------------------------- */

.contatti {
  width: 40%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: auto;
  margin-top: 80px;
  text-align: center;
  line-height: 35px;
  font-family: 'Shadows Into Light', cursive;
}

.contatti ul li {
  list-style: none;
  font-size: 1rem;
  color: white;
  padding: 10px;
}

.titolo_contatti {
  margin-top: 80px;
  font-size: 2em;
}

/* ----------------------- REGISTRAZIONE ------------------------- */

.compilazione {
  margin: auto;
  display: inline-block;
  width: 25vw;
  height: 7vh;
}

.registrazione_payoff {
  display: inline-block;
  font-size: 1.8em;
  margin-bottom: 25px;
}

.registrazione {
  margin-top: 25px;
}

.registrazione_input {
  margin: auto;
  border-radius: 5px;
  width: 12.5vw;
  height: 3vh;
  color: black;
  font-size: 1em;
}

.registrazione_Button  {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px auto;
  width: 17vw;
  height: 7vh;
  border-radius: 10px;
  padding-bottom: 5px;
  color: white;
  font-size: 1.5em;
  border-style: none;
}

.registrazione_Button:hover {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px auto;
  width: 18vw;
  height: 8vh;
  border-radius: 10px;
  padding-bottom: 5px;
  color: white;
  font-size: 1.7em;
}

/* ----------------------- ERRORE ------------------------- */

.gelato_sciolto {
  background-image: url('../img/back_error.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cornice1 {
    background: url('../img/loghino.png') no-repeat center;
    width: 150px;
    height: 100px;
    margin: auto;
}

.cornice2 {
    background: url('../img/loghino.png') no-repeat center;
    width: 150px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 275px;
}

.box h1 {
    font-size: 4em;
}

.box p {
    font-size: 1.5em;
    margin-top: 20px;
}

.homepage {
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  display: block;
  width: 14vw;
  height: 7vh;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
  padding-top: 12px;
}

